/* Comment.css */
@import 'swiper/css';
@import 'swiper/css/pagination';

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: auto;
    right: 0;
    width: auto;
}